.footer__container {
  width: 100%;
  max-width: 1358px;
  height: 20px;
  margin: 40px auto 45px auto;
  padding: 0;
  justify-content: space-between;
  display: flex;
  clear: both;
  box-sizing: border-box;
}

.developer {
  font-family: "Cabinet Grotesk";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  vertical-align: bottom;
}

.year {
  font-family: "Cabinet Grotesk";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}
